@model HomeVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Creative Studio</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/imgs/logo.png">



    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <link rel="stylesheet" href="assets/css/creative-studio.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo.png" >
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    @if (User.Identity.IsAuthenticated){
                        <li class="nav-item bg-danger rounded">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout" >Logout</a>
                        </li>
                    }
                    else{
                        <li class="nav-item bg-success rounded">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    }
                    
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->
    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h6 class="subtitle">Small Team With Big Ideas</h6>
            <h1 class="title">Creative Studio</h1>
            <div class="buttons text-center">
                <a href="#service" class="btn btn-primary rounded w-lg btn-lg my-1">Our Service</a>
                <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
            </div>
        </div>
    </header>
    <!-- End Of Page Header -->
    <!-- Box -->
    <div class="box text-center">
        @foreach (var service in Model.Services)
        {
            <div class="box-item">
            <i class="@service.Icon"></i>
            <h6 class="box-title">@service.Name</h6>
            <p>@service.Desc</p>
        </div>
        }
        
        
    </div>
    <!-- End of Box -->
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                
                @foreach (var item in Model.WhatWeDos)
                {<div class="col-md-5 col-lg-4">
                        <img src="assets/imgs/@item.Icon" class="w-100 img-thumbnail mb-3">
                </div>
                    <div class="col-md-7 col-lg-8">
                    <h1 class=" ">@item.Name</h1>
                    <p>@item.Desc</p>
                </div>
                }
                
            </div>
        </div>
    </section>
    <!-- End of About Section -->
    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-subtitle">We See</h6>
            <h6 class="section-title mb-6">What Other Don't See.</h6>
            <div class="widget mb-4">
                @foreach (var weSee in Model.WeSees)
                {
                    <div class="widget-item">
                        <i class="@weSee.Icon"></i>
                        <h4>@weSee.Name</h4>
                    </div>
                }
                
                
            </div>
        </div>
    </section>
    <!-- End Of About Sectoin -->
    <!-- Service Section -->
    <section id="service">
        <div class="container">
            <h6 class="section-subtitle text-center">Makes Happen</h6>
            <h5 class="section-title text-center mb-6">Our Service</h5>
            <div class="row">
                @foreach (var ourService in Model.OurServices)
                {
                    <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="@ourService.Icon"></i></h2>
                            <h6 class="card-title">@ourService.Name</h6>
                            <p>@ourService.Desc</p>
                        </div>
                    </div>
                </div>
                }
                
                
                

            </div>
        </div>
    </section>
    <!-- End of Service Section -->
    <!-- Portfolio section -->
    <section id="portfolio">
        <div class="container text-center">
            <h6 class="section-subtitle">Our Awesome Works</h6>
            <h6 class="section-title mb-5">Our Portfolio</h6>
            <div class="row">
                @foreach (var portfolio in Model.Portfolios)
                {
                    <div class="col-sm-4">
                        <div class="img-wrapper">
                            <img src="assets/imgs/@portfolio.Image">
                            <div class="overlay">
                                <div class="overlay-infos">
                                    
                                </div>
                            </div>
                        </div>
                        @*<div class="img-wrapper">
                            <img src="assets/imgs/@portfolio.Image">
                            <div class="overlay">
                                <div class="overlay-infos">
                                    
                                </div>
                            </div>
                        </div>*@
                    </div>
                }
                
                
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->
    <!-- Team Section -->
    <section id="team">
        <div class="container">
            <h6 class="section-subtitle text-center">Meet With</h6>
            <h6 class="section-title mb-5 text-center">Our Angels</h6>
            <div class="row">
                @foreach (var cast in Model.Casts.Take(3))
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="card text-center mb-4">
                            <img class="card-img-top inset" src="assets/imgs/@cast.Image">
                            <div class="card-body">
                                <h6 class="small text-primary font-weight-bold">@cast.Position</h6>
                                <h5 class="card-title">@cast.FullName</h5>
                                <p>@cast.Desc</p>
                                <div class="socials">
                                    <a href=@cast.FbLink><i class="ti-facebook"></i> </a>
                                    <a href=@cast.BxLink><i class="ti-dropbox"></i></a>
                                    <a href=@cast.TwLink><i class="ti-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End of Team Sectoin -->
    <!-- Fatcs Section -->
    <section class="has-bg-img bg-img-2">
        <div class="container text-center">
            <h6 class="section-subtitle">We Are Awesome</h6>
            <h6 class="section-title mb-6">Some Fun Fucts</h6>
            <div class="widget-2">
                @foreach (var stat in Model.Stats)
                {
                    <div class="widget-item">
                        <i class="@stat.Icon"></i>
                        <h6 class="title">@stat.Count K+</h6>
                        <div class="subtitle">@stat.Name</div>
                    </div>
                }
                
                
                
                
            </div>
        </div>
    </section>

    <!-- Testimonial Section -->
    <section id="testimonial">
        <div class="container">
            <h6 class="section-subtitle text-center">Testimonial</h6>
            <h6 class="section-title text-center mb-6">What Our Clients Says</h6>
            <div class="row">
                @foreach (var testimonial in Model.Testimonials)
                {
                    <div class="col-md-6">
                        <div class="testimonial-wrapper">
                            <div class="img-holder">
                                <img src="assets/imgs/@testimonial.Image">
                            </div>
                            <div class="body">
                                <p class="subtitle">@testimonial.Comment</p>
                                <h6 class="title">@testimonial.Name</h6>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </section>
    <!-- End of Testimonial Section -->
    <!-- Video Section -->
    <section class="has-bg-img py-lg">
        <div class="container text-center">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary play-control" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="ti-control-play"></i>
            </button>
            <h6 class="section-title mt-4">See Our Intro Video</h6>

        </div>
    </section>
    <!-- End of Video Section -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <iframe width="800" height="475" src="https://www.youtube.com" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- end of modal -->
    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <h6 class="section-subtitle text-center">News Feeds</h6>
            <h6 class="section-title mb-6 text-center">Our Blog</h6>

            <div class="row">
                @foreach (var blog in Model.Blogs)
                {
                    <div class="col-md-4">
                        <div class="card blog-post my-4 my-sm-5 my-md-0">
                            <img src="assets/imgs/@blog.Image">
                            <div class="card-body">
                                <div class="details mb-3">
                                    <a><i class="ti-comments"></i> @blog.CommentCount</a>
                                </div>
                                <h5 class="card-title">@blog.Name</h5>
                                <p>@blog.Desc</p>
                                <a href="javascript:void(0)" class="d-block mt-3">Read More...</a>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </section>
    <!-- End of Blog Section -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="contact-card">
                @foreach (var contactInfo in Model.ContactInfos)
                {
                    <div class="infos">
                        <h6 class="section-subtitle">Get Here</h6>
                        <h6 class="section-title mb-4">Contact Us</h6>

                        <div class="item">
                            <i class="ti-location-pin"></i>
                            <div class="">
                                <h5>Location</h5>
                                <p> @contactInfo.Location</p>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ti-mobile"></i>
                            <div>
                                <h5>Phone Number</h5>
                                <p>@contactInfo.PhoneNumber</p>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ti-email"></i>
                            <div class="mb-0">
                                <h5>Email Address</h5>
                                <p>@contactInfo.Email</p>
                            </div>
                        </div>
                        <div class="item">
                            <i class="ti-world"></i>
                            <div class="mb-0">
                                <h5>Website</h5>
                                <p>@contactInfo.Website</p>
                            </div>
                        </div>
                    </div>
                }
                <div class="form">
                    @*<h6 class="section-subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form asp-controller="Home" asp-action="SendMessage" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="TouchMessages." type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="7" class="form-control form-control-lg" placeholder="Message"></textarea>
                        </div>*@
                         <img width="600" src="assets/imgs/message.jpeg"  >
                    <a asp-controller="SendMessage" asp-action="Index" type="submit" class="btn btn-primary btn-block btn-lg mt-3">Send Message</a>
                    @*</form>*@
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->

    <section class="has-bg-img py-0">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="assets/imgs/logo.png" >
                                <h6>Creative Studio</h6>
                            </a>
                            <p>Creator Studio lets creators and publishers manage posts, insights and messages from all of your pages in one place.</p>
                            <p class="mt-3">
                                Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" ></a>
                            </p>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">USEFUL LINKS</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="#about">About</a>
                                    <a href="#service">Service</a>
                                    <a href="#portfolio">Portfolio</a>
                                    <a href="#testmonail">Testimonial</a>
                                </div>
                                <div class="col">
                                    <a href="#team">Team</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#">Privacy Policy</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p>Contact us and we'll get back to you within 24 hours.</p>
                            <p><i class="ti-location-pin"></i> Empire State Building , 4/21</p>
                            <p><i class="ti-email"></i>  Creative@website.com</p>
                            <div class="social-links">
                                <a href="http://www.facebook.com" class="link"><i class="ti-facebook"></i></a>
                                <a href="http://www.twitter.com" class="link"><i class="ti-twitter-alt"></i></a>
                                <a href="http://www.google.com" class="link"><i class="ti-google"></i></a>
                                <a href="http://www.pinterest.com" class="link"><i class="ti-pinterest-alt"></i></a>
                                <a href="http://www.instagram.com" class="link"><i class="ti-instagram"></i></a>
                                <a href="http://www.rss.com" class="link"><i class="ti-rss"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Studio js -->
    <script src="assets/js/creative-studio.js"></script>

</body>
</html>
